* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Space Mono", monospace;
  display: flex;
  padding: 0 35px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#2e547f, #2e547f, #5e3a7a, #25292f, #25292f);
}

h1 {
  font-family: "Space Mono", monospace;
  color: #fff;
  margin-bottom: 30px;
  text-align: center;
}

p {
  color: #fff;
  text-align: center;
  font-size: 20px;
  margin-bottom: 30px;
}

.texto {
  font-family: "Space Mono", monospace;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
}

/* Navabar */

.myTopnav {
  font-family: "Space Mono", monospace;
  display: flex;
  border-radius: 10px;
  margin-top: 10px;
  align-items: center;
  background-color: rgb(74, 107, 139);
  color: white;
}

.myTopnav .icon {
  display: none;
}

.myTopnav .icon i {
  font-size: 30px;
  transition: all 1s;
}

.myTopnav img {
  width: 250px;
  height: 200px;
  margin-right: -80px;
  margin-top: -15px;
  margin-left: -30px;
  margin-bottom: -35px;
}

.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.1;
  text-decoration: none;
}

.links {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.links a {
  font-weight: bold;
  margin: 15px;
  font-size: 21px;
  color: white;
  text-decoration: none;
}

.links a:hover {
  opacity: 0.7;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .dropbtn {
  font-weight: bold;
  cursor: pointer;
  background-color: inherit;
  outline: none;
  border: none;
  font-size: 20px;
  color: white;
  text-decoration: none;
  text-align: center;
}

.dropdown span:hover {
  opacity: 0.7;
}

.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 25px;
  min-width: 160px;
  background-color: rgb(74, 107, 139);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #fff;
  text-decoration: none;
  display: block;
  font-size: 18px;
  text-align: center;
  margin: 0;
  padding: 6px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 700px) {

  .myTopnav a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }

  .myTopnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .myTopnav.responsive {
    position: relative;
  }

  .myTopnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .myTopnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }

  .myTopnav.responsive .dropdown {
    float: inline-end;
  }

  .myTopnav.responsive .dropdown-content {
    position: absolute;
  }

  .myTopnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: center;
  }
}

/* Rodapé */

footer {
  font-family: "Space Mono", monospace;
  width: 100%;
  position: relative;
  bottom: 0;
  padding: 30px 0px;
  background-color: rgb(74, 107, 139);
  border-radius: 5px;
  color: white;
  margin-bottom: 10px;
}

.rodape {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: auto;
  margin-top: -30px;
}

.textoprin {
  max-width: 250px;
  font-weight: 500;
  color: white;
  text-align: center;
}

.textoprin h3 {
  font-size: 20px;
}

.box__footer {
  text-align: center;
  display: flex;
  color: white;
  flex-direction: column;
}

.box__footer h1 {
  margin-bottom: 5px;
  font-size: 30px;
  color: white;
  font-weight: 700;
}

.box__footer a {
  margin-top: 5px;
  font-size: 18px;
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.box__footer a:hover {
  opacity: 0.7;
}

.img1 {
  display: flex;
  margin-bottom: 15px;
}

.img1 img {
  width: 50%;
  border-radius: 25px;
}

.txt1 {
  font-family: "Space Mono", monospace;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 10px;
  background-color: rgba(112, 112, 112, 0.4);
  border-radius: 25px;
}

/* SlideShow */

.carousel {
  font-family: "Space Mono", monospace;
  display: flex;
  position: relative;
}

.carousel img {
  height: 400px;
  border-radius: 25px;
  object-fit: cover;
  user-select: none;
  left: 50%;
  transform: translate(50%);
}

.carousel .carousel-control-prev {
  left: 50%;
  transform: translate(-200%);
}

.carousel .carousel-control-next {
  right: 50%;
  transform: translate(200%);
}

/* PLANETAS */

.container {
  margin-bottom: 50px;
}

.container h1 {
  font-family: "Space Mono", monospace;
  text-decoration: underline;
  color: #fff;
  text-align: center;
}

#planet {
  width: 300px;
  height: 300px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
  position: relative;
  background-size: cover;
  box-shadow: -25px -25px 25px black inset, 10px 10px 30px rgb(186, 186, 186) inset, 0px 0px 20px #a9a9a9;
  animation: rotate 15s linear infinite;
  margin-bottom: 30px;
  margin-right: 20px;
}

.mercurio {
  background-image: url(https://cdn.pixabay.com/photo/2020/02/04/17/08/map-4818866_960_720.jpg);
}

.venus {
  background-image: url(https://cdn.pixabay.com/photo/2020/02/04/17/12/map-4818876_1280.jpg);
}

.terra {
  background-image: url(https://www.gisandbeers.com/wp-content/uploads/2018/09/Descargar-Blue-Marble-de-la-NASA.jpg);
}

.marte {
  background-image: url(../planetas/Marte/img/4.jpeg);
}

.jupiter {
  background-image: url(https://cdn.sci.news/images/enlarge2/image_3337_1e-Jupiter-Map.jpg);
}

.saturno {
  background-image: url(../planetas/Saturno/imagens/4.jpg);
}

.urano {
  background-image: url(https://static.vecteezy.com/ti/vetor-gratis/t1/1998851-abstract-background-of-uranus-surface-gratis-vetor.jpg);
}

.netuno {
  background-image: url(../planetas/Netuno/images/4.jpeg);
}

#planet a {
  font-family: "Space Mono", monospace;
  position: absolute;
  font-size: 40px;
  color: none;
  visibility: hidden;
  text-decoration: none;
  text-shadow: 0px 0px 5px black;
  top: 50%;
  width: 300px;
  height: 300px;
  transition: transform 0.5s;
  transform: scale(0.5);
}

#planet:hover a {
  border-radius: 50%;
  padding: 40%;
  margin-left: -12px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  visibility: visible;
  color: white;
  position: relative;
  transform: scale(1);
}

@keyframes rotate {
  to {
    background-position: 100%;
  }
}