.Imagens_Marte {
  float: left;
  width: 100%;
  margin-top: 10px;
  /* background-color: rgb(255, 0, 0);*/
}

.Imagens_Marte img {
  margin-top: 15px;
  border-radius: 25px;
  width: 70%;
}

.Dir {
  /*background-color: rgb(230, 0, 0);*/
  float: right;
  width: 100%;
  margin-top: 10px;
}

.Dir img {
  float: right;
  width: 70%;
  border-radius: 25px;
  padding-top: 15px;
}

.Dir p {
  color: white;
  text-align: left;
  font-size: 18px;
  padding-left: 10px;
}

.TextRig {
  margin-top: 15px;
  width: 350px;
  height: 500px;
  float: right;
  background-color: rgba(100, 84, 80, 0.3);
  border-radius: 25px;
}

.TextRig p {
  color: white;
  text-align: left;
  font-size: 18px;
  padding-left: 10px;
}

.TextLef {
  margin-top: 15px;
  width: 350px;
  height: 500px;
  float: left;
  background-color: rgba(61, 50, 47, 0.3);
  border-radius: 25px;
}

.TextMid {
  position: relative;
  margin-top: 15px;
  width: 350px;
  height: 500px;
  float: left;
  background-color: rgba(61, 50, 47, 0.3);
  border-radius: 25px;
  margin-left: 35%;
  margin-bottom: 28%;
}

.TextMid p {
  text-align: left;
  padding-left: 10px;
}

.TextCenter {
  margin-top: 15px;
  width: 350px;
  float: left;
  border-radius: 25px;
  margin-left: 26.5%;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

html {
  font-family: "Space Mono", monospace;
  position: absolute;
  display: flex;
  padding: 0 35px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#000000, #000000, #fd976f, #ff3c00, #ff3c00);
}

h1 {
  color: white;
  text-align: right;
}

p {
  color: white;
  text-align: right;
  font-size: 18px;
}

/* NavBar */

.myTopnav {
  display: flex;
  border-radius: 10px;
  margin-top: 10px;
  align-items: center;
  background-color: rgb(74, 107, 139);
  color: white;
}

.myTopnav .icon {
  display: none;
}

.myTopnav .icon i {
  font-size: 30px;
  transition: all 1s;
}

.navbar .icon i:hover {
  color: #f3f3f3;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.myTopnav img {
  width: 250px;
  height: 200px;
  margin-right: -80px;
  margin-top: -15px;
  margin-left: -30px;
  margin-bottom: -35px;
}

.links {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.links a {
  font-weight: bold;
  margin: 15px;
  font-size: 21px;
  color: white;
  text-decoration: none;
}

.links a:hover {
  opacity: 0.7;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .dropbtn {
  font-weight: bold;
  cursor: pointer;
  background-color: inherit;
  outline: none;
  border: none;
  font-size: 20px;
  color: white;
  text-decoration: none;
  text-align: center;
}

.dropdown span:hover {
  opacity: 0.7;
}

.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 25px;
  min-width: 160px;
  background-color: rgb(74, 107, 139);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #fff;
  text-decoration: none;
  display: block;
  font-size: 17px;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 700px) {
  .myTopnav a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }
  .myTopnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .myTopnav.responsive {
    position: relative;
  }
  .myTopnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .myTopnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }

  .navbar.responsive .dropdown {
    float: inline-end;
  }
  .navbar.responsive .dropdown-content {
    position: absolute;
  }
  .navbar.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: center;
  }
}

/* Rodapé */

footer {
  width: 95%;
  position: absolute;
  bottom: 0;
  padding: 30px 0px;
  background-color: rgb(74, 107, 139);
  border-radius: 5px;
  color: white;
  margin-bottom: 10px;
}

.rodape {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: auto;
  margin-top: -30px;
}

.textoprin {
  max-width: 250px;
  font-weight: 500;
  color: white;
  text-align: center;
}

.textoprin h3 {
  font-size: 20px;
}

.box__footer {
  text-align: center;
  display: flex;
  color: white;
  flex-direction: column;
}

.box__footer h1 {
  margin-bottom: 5px;
  font-size: 30px;
  color: white;
  font-weight: 700;
}

.box__footer a {
  margin-top: 10px;
  font-size: 16px;
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.box__footer a:hover {
  opacity: 0.7;
}